// Place all the styles related to the FoodStuffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin-left: 290px;
  margin-right: 290px;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.logo_and_food_stuff_images {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-unit {
  color: inherit;
  background-color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  font-weight: 200;
  line-height: 30px;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
}

table.nutritionTable, td.nutritionTD, th.nutritionTH
{
  width: 550px;
  border-collapse: collapse;
  border: 1px solid #f79d35;
}
th.nutritionTH
{
  background-color:#ffb86a;
  color:white;
}

tr.d0 td {
  background-color: #fff5eb; color: black;
}
tr.d1 td {
  background-color: #ffffff; color: black;
}

table.informationTable, td.informationTD, th.informationTH
{
  width: 550px;
  border-collapse: collapse;
  border: 1px solid #abcc8b;
  padding-left: 10px;
}
th.informationTH
{
  background-color:#aae277;
  color:white;
}

tr.e0 td {
  background-color: #f7fcf2; color: black;
}
tr.e1 td {
  background-color: #ffffff; color: black;
}

.expandedTable {
  width: 983px;
}

.expandedTable2 {
  width: 757px;
}

table.expandedTable2 td.left {width: 472px; }

table.expandedTable td.left { width: 416px; }

table.expandedTable td.middle { width: 203px; }

table.expandedTable td.right { width: 180px; }


.field_width {
  width:170px;
}

#history_button {
  color: #555555;
  cursor:pointer;
}

#history_button:hover {
  color: #666666;
}

.history {
  color: #555555;
  cursor:pointer;
}

.history:hover {
  color: #666666;
  cursor: pointer;
}

.comment-body {
  width: 550px;
  border-style:solid;
  border-width:1px;
  border-color:#d0cfcf;
}

.comment-name {
  float: left;
  padding-left: 20px;
  padding-top: 20px;  
  font-size: 90%;
  font-weight:bold;
}

.comment-date {
  float: right;
  padding-right: 20px;
  padding-top: 20px;
  font-size: 90%;
}

.comment-message {
  padding-top:70px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap:break-word;
}

.comment-color0 {
  background-color: #DDF3C9
}

.comment-color1 {
  background-color: #FEE0BF
}

.ingredients-body {
  width: 550px;
  background-color: #ffb86a;
  border-style: solid;
  border-width: 1px;
  border-color: #f79d35
}

.ingredients-title {
  padding-left: 1em;
  padding-right: 1em;
  word-wrap: break-word;
}

.ingredients-list {
  padding-left: 2em;
  padding-right: 1em;
  word-wrap: break-word;
}

#slideout {
  bottom:0;
  position: fixed;
  right: 0;
}
#slideout_inner {
  float:right;
  bottom:0;
  width:90px;
  position: fixed;
  right: -150px;
}

#footer
{
  position: fixed;
  bottom: 0px;
}

.more_anchors {
  color: #555;
}

.more_anchors:hover {
  cursor: pointer;
  color: #777;
  text-decoration:underline;
}

#tags_anchor {
  cursor: pointer;
}

.history
{
  position: fixed;
  bottom: 20px;
  right: 6px;
  width: 180px;
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.custom_select {
  color:#707070;
  border-radius: 7px;
  border-style:solid;
  border-color:#d0cfcf;
  
  float:left; 
  width:150px; 
  height:50px;
  
  background-image: linear-gradient(bottom, rgb(242,242,242) 37%, rgb(253,253,253) 100%);
  background-image: -o-linear-gradient(bottom, rgb(242,242,242) 37%, rgb(253,253,253) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(242,242,242) 37%, rgb(253,253,253) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(242,242,242) 37%, rgb(253,253,253) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(242,242,242) 37%, rgb(253,253,253) 100%);
  
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.37, rgb(242,242,242)),
    color-stop(1, rgb(253,253,253))
  );
}