// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}

.foodstuff_link {
  color: #555;
  text-decoration: underline;
  
  &:visited {
    text-decoration: none;
    color: #777;
  }
}

.food_stuff_links {
  text-align: center
}

nav {
}

li {
  list-style:none;
}

ul {
}

#search_field {
  width: 380px;
  border-radius: 7px;
  border-style:solid;
  border-color:#d0cfcf
}

.custom_button {
  color:#707070;
  border-radius: 7px;
  border-style:solid;
  border-color:#d0cfcf;
  
  background-image: linear-gradient(bottom, rgb(242,242,242) 37%, rgb(253,253,253) 100%);
  background-image: -o-linear-gradient(bottom, rgb(242,242,242) 37%, rgb(253,253,253) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(242,242,242) 37%, rgb(253,253,253) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(242,242,242) 37%, rgb(253,253,253) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(242,242,242) 37%, rgb(253,253,253) 100%);
  
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.37, rgb(242,242,242)),
    color-stop(1, rgb(253,253,253))
  );
}

.custom_file_field {
  color: #707070;
}

#search_button {
  width: 60px;
}

.custom_button:hover {
  border-color:#b2b1b1;
}

.custom_button:active {
  border-color:#d0cfcf;
  
  background-image: linear-gradient(bottom, rgb(253,253,253) 37%, rgb(242,242,242) 100%);
  background-image: -o-linear-gradient(bottom, rgb(253,253,253) 37%, rgb(242,242,242) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(253,253,253) 37%, rgb(242,242,242) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(253,253,253) 37%, rgb(242,242,242) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(253,253,253) 37%, rgb(242,242,242) 100%);
  
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.37, rgb(253,253,253)),
    color-stop(1, rgb(242,242,242))
  );
}

.center_left {
  text-align:center;
  padding-right:280px;
  cursor:pointer;
  font-size:10px;
}

.center_left:hover {
  text-decoration: underline;
}

.center{
  text-align:center;
  cursor:pointer;
  font-size:10px;
}

.center:hover {
  text-decoration: underline;
}

.green_index
{
  color:#aae277;
  cursor:pointer;
}

a.green_index:hover
{
  text-decoration: underline;
}

.gray_index
{
  color:#CCCCCC;
}

.orange_index
{
  color:#ffb86a;
  cursor:pointer;
}

a.orange_index:hover
{
  text-decoration: underline;
}

.arrow
{
  font-weight:bold;
  cursor:pointer;
}

a.arrow:hover
{
  color:#AAAAAA;
}

.category {
  cursor: pointer;
}

.green_category
{
  color:#aae277;
}

.orange_category
{
  color:#f79d35;
}

.orange_category:hover
{
  color:#aae277;
}

.black
{
  color:#000000;
}

.gray 
{
  cursor:pointer;
  color:#555;
}

.gray:hover
{
  cursor:pointer;
  color:#777;
  text-decoration:underline;
}

