// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  margin: 0;
  padding: 0;
}
.header {
  position: fixed;
  width: 100%;
  height: 40px;
  overflow: hidden;
  z-index: 9999;
  
  background-repeat: repeat-x;
  background-color: #ececec;
  
  background-image: linear-gradient(bottom, rgb(194,190,194) 0%, rgb(242,242,242) 100%);
  background-image: -o-linear-gradient(bottom, rgb(194,190,194) 0%, rgb(242,242,242) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(194,190,194) 0%, rgb(242,242,242) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(194,190,194) 0%, rgb(242,242,242) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(194,190,194) 0%, rgb(242,242,242) 100%);
  
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(194,190,194)),
    color-stop(1, rgb(242,242,242))
  );
}

.alignleft {
	float: left;
	position: absolute;
	top: 12%
}

.alignright {
	float: right;
	position: relative;
	top: 25%;
	margin-right:3px
}

.food_stuff_links {
  text-align: center
}

#search_field {
  width: 380px;
  border-radius: 7px;
  border-style:solid;
  border-color:#d0cfcf
}

.custom_button {
  color:#707070;
  border-radius: 7px;
  border-style:solid;
  border-color:#d0cfcf;
  
  background-image: linear-gradient(bottom, rgb(242,242,242) 37%, rgb(253,253,253) 100%);
  background-image: -o-linear-gradient(bottom, rgb(242,242,242) 37%, rgb(253,253,253) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(242,242,242) 37%, rgb(253,253,253) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(242,242,242) 37%, rgb(253,253,253) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(242,242,242) 37%, rgb(253,253,253) 100%);
  
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.37, rgb(242,242,242)),
    color-stop(1, rgb(253,253,253))
  );
}

.custom_file_field {
  color: #707070;
}

#search_button {
  width: 60px;
}

.custom_button:hover {
  border-color:#b2b1b1;
}

.custom_button:active {
  border-color:#d0cfcf;
  
  background-image: linear-gradient(bottom, rgb(253,253,253) 37%, rgb(242,242,242) 100%);
  background-image: -o-linear-gradient(bottom, rgb(253,253,253) 37%, rgb(242,242,242) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(253,253,253) 37%, rgb(242,242,242) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(253,253,253) 37%, rgb(242,242,242) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(253,253,253) 37%, rgb(242,242,242) 100%);
  
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.37, rgb(253,253,253)),
    color-stop(1, rgb(242,242,242))
  );
}