<div id="textbox">
    <ul class="signin">
    	
    	<li><%= link_to t(:Account_Link_Sign_in), new_session_path %></li><li><%= link_to t(:Account_Link_Create_Account), signup_path %></li>
    		
    </ul>
</div>