<tr>
  <span class="file">
  	<td class="left"><dd><%= f.label label %></dd></td>
    <td class="middle"><%= f.number_field number, :step => "0.000001" %></td>
    <td class="right" width="1px"><label><%= unit %></label></td>
  </span>
</tr>