<tr>
  <span class="file">
  	<td class="left"><dd><%= f.label label %></dd></td>
    <td class="middle"><%= f.number_field number %></td>
    <td class="right" width="1px"><label><%= unit %></label></td>
  </span>
</tr>