<tr>
	<td align="left" class="left"><%= f.label label %></td>
  <td align="middle" class="middle"><%= f.number_field number, :class => "field_width" %></td>
  <td align="right" class="right" width="1px"><label><%= unit %></label></td>
</tr>